@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy Light"),
    url(../fonts/gilroylight.woff2) format("woff2"),
    url(../fonts/gilroylight.woff) format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy ExtraBold"),
    url(../fonts/gilroyextrabold.woff2) format("woff2"),
    url(../fonts/gilroyextrabold.woff) format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans Light"),
    url(../fonts/opensanslight.woff2) format("woff2"),
    url(../fonts/opensanslight.woff) format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans"),
    url(../fonts/opensans.woff2) format("woff2"),
    url(../fonts/opensans.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
  display: inline-block;
  padding: 10px 45px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;

  background-color: #f0c52e;
  background-image: linear-gradient(#ffffff 39%, #f0c52e 39%, #f0c52e 60%, #ffffff 60%);
  border: none;
}


.btn:hover,
.btn:focus {
  background-image: none;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  outline: 1px solid red;
}

.main-header {
   margin-top: 40px;
}

.main-navigation {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 267px;
  padding: 0 60px;
  padding-top: 33px;

  background-color: #f7e296;
  outline: 1px solid red;
}

.main-navigation::before {
  position: absolute;
  right: 460px;
  bottom: 69px;

  width: 100px;
  height: 7px;

  content:"";
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  top: -19px;
}


.main-header-logo::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content:"";
  outline: 1px solid red;
}

.header-logo-link:hover img,
.header-logo-link:focus img {
  opacity: 0.6;
}

.header-logo-link:active img {
  opacity: 0.3;
}

.user-navigation {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;

  list-style: none;
  outline: 1px solid red;
}

.user-navigation li:first-child {
  width:50%;
  margin-right: 20px;
}

.user-navigation a,
.user-navigation p,
.search-form input,
.search-form button {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus {
  opacity: 0.6;
}

.user-navigation a:active {
  opacity: 0.3;
}

.search-form {
  position: relative;

  display: flex;
  width: 440px;
  height: 50px;
}

.search-form::before {
  position: absolute;
  left: 3px;
  top: 18px;

  content: url("../img/search.svg");
}

.search-form input {
  flex-grow: 1;
  padding-left: 40px;

  background-color: #f7e296;
  border: none;
  opacity: 0.3;
}

.search-form input:hover {
  opacity: 0.6;
}

.search-form input:active,
.search-form input:focus {
  border-bottom: 2px solid #000000;
  opacity: 1;
  outline: none;
}

.search-form button {
  display: none;
  padding: 0 20px;

  background-color: #f7e296;
  border: 2px solid #000000;
}

.search-form input:focus + button {
  display: block;
}

.search-form button:hover {
  display: block;

  color: #ffffff;

  background-color: #000000;
}

.search-form button:active {
  color: rgba(255, 255, 255, 0.3);
}

.login-block {
  position: relative;

  display: flex;
  align-items: center;
  width: 240px;
  min-height: 50px;
  margin-right: 40px;

  outline: 2px solid blue;
}

.login-block::before {
  position: absolute;
  top: 17px;
  left: 0px;

  content: url("../img/user.svg");
}

.login-block .login-link {
  display: inline-block;
  padding: 7px 26px;

  outline: 1px solid green;
}

.login-block .user-name {
  padding: 0;
  margin: 0;
  padding-left: 27px;
}

.login-block .logout-link {
  display: inline-block;
  margin-left: auto;
  padding: 7px 17px;
  opacity: 0.3;

  outline: 1px solid red;
}

.compare-block {
  position: relative;

  width: 100px;

  outline: 1px solid red;
}

.compare-block::before {
  position: absolute;
  top: 17px;
  left: 7px;

  content: url("../img/compare.svg");
}

.compare-block a {
  display: inline-block;
  padding: 7px 4px;
  padding-left: 27px;
  outline: 1px solid green;
}

.basket-block {
  position: relative;

  width: 100px;
  margin-left: auto;
  outline: 1px solid red;
}

.basket-block::before {
  position: absolute;
  top: 17px;
  left: 17px;

  content: url("../img/cart.svg")
}

.basket-block a {
  display: inline-block;
  padding: 7px 40px;
  padding-right: 0px;

  outline: 1px solid green;
}

.main-menu {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-menu > li {
  outline: 1px solid red;
}

.main-menu a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

.catalog-block a {
   position: relative;
}

.catalog-block > a::after {
  position: absolute;
  right: -26px;
  top: 3px;

  content: url("../img/plus.svg")
}

.main-menu .catalog-block {
  width: 50%;
  margin-right: 20px;
}

.main-menu > li:nth-child(2) {
   width: 140px;
   margin-right: 20px;
}

.main-menu > li:nth-child(3) {
  width: 140px;
}

.main-menu > li:last-child {
  width: 120px;
  margin-left: auto;
}

.main-menu a:hover,
.main-menu a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-block:hover .sub-menu {
  display: flex;
}

.catalog-block:focus-within .sub-menu {
  display: flex;
}

.catalog-block.focus-within .sub-menu {
  display:flex;
}

.sub-menu {
  position: relative;
  z-index: 1;

  display: none;
  margin-top: 23px;
  width: 1040px;
  min-height: 143px;

  background-color: #f7e296;
  outline: 1px solid red;
}

.sub-menu ul {
  width: 200px;
  margin: 0;
  margin-right: 40px;
  padding: 0;

  outline: 1px solid red;
  list-style: none;
}

.sub-menu ul:not(:first-child) {
  width: 160px;
}

.sub-menu ul:last-child {
  margin-right: 0;
}

.sub-menu a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-transform: none;
}

.promo-container {
  position: relative;
  height: 405px;

  margin-bottom: 75px;

  outline: 1px solid blue;
}

.promo {
  position: absolute;
  bottom: 55px;

  margin-bottom: -55px;
  padding: 0 60px;
  padding-left: 30px;
  padding-top: 0px;

  outline: 1px solid  red;
}

.promo-controls {
  position: absolute;
  z-index: 1;

  right: 75px;
  bottom: 155px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-controls label {
    position: relative;
}

.promo-controls li:first-child label::after {
  position: absolute;
  right: -50px;
  width: 5px;

  content: url("../img/slider-button-empty.svg");
}

.promo-list {
  margin: 0;
  padding: 0;
}

.promo-item {
  display: none;
}

.item-offer {
  position: relative;

  padding-top: 50px;
  padding-right: 5px;
  padding-left: 44px;

  outline: 1px solid red;
}

.promo-item h3 {
  position: relative;
  z-index: 1;


  margin-left: 0;
  margin-bottom: 21px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  letter-spacing: 0.01em;
  color: #000000;

  outline: 1px solid red;
}

.promo-item .item-number {
  position: absolute;
  top: -175px;
  right: -15px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179.2px;
  line-height: 179.2px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.promo-item .item-description {
  margin-bottom: 43px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}

.promo-item .btn {
  margin-bottom: 52px;
  background-color: red;
}

.promo-item td {
  padding-right: 72px;
  padding-bottom: 7px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: 0.01em;
  color: #000000;
}

.promo-item td:first-child {
  padding-left: 0px;
}

.promo-item td:last-child {
  padding-right: 0;
}

.promo-item th {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #464646;
}

.promo-item .item-image {
  order: -1;
  width: 50%;
}

.promo-btn:nth-of-type(1):checked ~ .promo-controls li:nth-of-type(1) label,
.promo-btn:nth-of-type(2):checked ~ .promo-controls li:nth-of-type(2) label,
.promo-btn:nth-of-type(3):checked ~ .promo-controls li:nth-of-type(3) label {
  color: #f7e184;

  background-color: #000000;
}

.promo-btn:nth-of-type(1):checked ~ .promo-list li:nth-of-type(1),
.promo-btn:nth-of-type(2):checked ~ .promo-list li:nth-of-type(2),
.promo-btn:nth-of-type(3):checked  ~ .promo-list li:nth-of-type(3) {
  display: flex;
}

.catigories ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  outline: 1px solid red;
}

.catigories li {
  margin-right: 20px;

  outline: 1px solid green;
}

.catigories li:last-child {
  margin-right: 0;
}

.catigories figure {
  margin: 0;
}

.catigories figcaption {
  width: 160px;
}


.categories-item .item-background {
  background-color: rgba(240, 197, 46, 0.5);
  margin-bottom: 30px;
}

.categories-item-link:hover .item-background,
.categories-item-link:focus .item-background  {
  background-color: rgba(240, 197, 46, 1);
}

/*Ãâ€™ IE 11 ÃÂµÃ‘ÂÃ‘â€šÃ‘Å’ ÃÂ¿Ã‘â‚¬ÃÂ¾ÃÂ±ÃÂ»ÃÂµÃÂ¼Ã‘â€¹ Ã‘Â ÃÂ²ÃÂ¾ÃÂ·ÃÂ¼ÃÂ¾ÃÂ¶ÃÂ½ÃÂ¾Ã‘ÂÃ‘â€šÃ‘Å’Ã‘Å½ ÃÂ°ÃÂºÃ‘â€šÃÂ¸ÃÂ²ÃÂ¸Ã‘â‚¬ÃÂ¾ÃÂ²ÃÂ°Ã‘â€šÃ‘Å’ Ã‘â‚¬ÃÂ¾ÃÂ´ÃÂ¸Ã‘â€šÃÂµÃÂ»Ã‘Â (:active) ÃÂºÃÂ»ÃÂ¸ÃÂºÃÂ¾ÃÂ¼ ÃÂ½ÃÂ° ÃÂ»Ã‘Å½ÃÂ±ÃÂ¾ÃÂ³ÃÂ¾ ÃÂ¿ÃÂ¾Ã‘â€šÃÂ¾ÃÂ¼ÃÂºÃÂ°*/
/*https://habrahabr.ru/post/138864/*/
/*ÃÂ ÃÂµÃ‘Ë†ÃÂ¸Ã‘â€šÃ‘Å’ ÃÂ¼ÃÂ¾ÃÂ¶ÃÂ½ÃÂ¾ ÃÂ¿ÃÂµÃ‘â‚¬ÃÂµÃÂºÃ‘â‚¬Ã‘â€¹ÃÂ² Ã‘â‚¬ÃÂ¾ÃÂ´ÃÂ¸Ã‘â€šÃÂµÃÂ»Ã‘Â ÃÂµÃÂ³ÃÂ¾ ÃÂ¿Ã‘ÂÃÂµÃÂ²ÃÂ´ÃÂ¾ÃÂºÃÂ»ÃÂ°Ã‘ÂÃ‘ÂÃÂ¾ÃÂ¼, Ã‘â€šÃÂ¾ÃÂ³ÃÂ´ÃÂ° ÃÂ¿Ã‘â‚¬ÃÂ¸ ÃÂ½ÃÂ°ÃÂ¶ÃÂ°Ã‘â€šÃÂ¸ÃÂ¸ ÃÂ½ÃÂ° ÃÂ´ÃÂ¾Ã‘â€¡ÃÂµÃ‘â‚¬ÃÂ½ÃÂ¸ÃÂ¹ Ã‘ÂÃÂ»ÃÂµÃÂ¼ÃÂµÃÂ½Ã‘â€š ÃÂ¼Ã‘â€¹ ÃÂ±Ã‘Æ’ÃÂ´ÃÂµÃÂ¼ ÃÂ°ÃÂºÃ‘â€šÃÂ¸ÃÂ²ÃÂ¸Ã‘â‚¬ÃÂ¾ÃÂ²ÃÂ°Ã‘â€šÃ‘Å’ Ã‘â‚¬ÃÂ¾ÃÂ´ÃÂ¸Ã‘â€šÃÂµÃÂ»Ã‘Â*/
.categories-item-link {
  position: relative;

  display: block;
}

.categories-item-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content:"";
}
/**/
/**/
/**/

.categories-item-link:active img,
.categories-item-link:active figcaption {
  opacity: 0.3;
}

.categories-item figcaption {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #000000;
}

.services {
  background-color: #e5e5e5;
}

.services-controls {
    list-style: none;
}

.services-controls label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;

  background-color: yellow;
}

.services-controls label:hover {
    background-color: #f0c52e;
}

.services-list h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  letter-spacing: 0.01em;
  color: #000000;
}

.services-list p {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}

.services-btn:nth-of-type(1):checked ~ .services-controls li:nth-of-type(1) label,
.services-btn:nth-of-type(2):checked ~ .services-controls li:nth-of-type(2) label,
.services-btn:nth-of-type(3):checked ~ .services-controls li:nth-of-type(3) label {
  color: #f7e184;

  background-color: #000000;
}

.services-list li {
  display: none;
}

.services-btn:nth-of-type(1):checked ~ .services-list li:nth-of-type(1),
.services-btn:nth-of-type(2):checked ~ .services-list li:nth-of-type(2),
.services-btn:nth-of-type(3):checked  ~ .services-list li:nth-of-type(3) {
  display: block;
}

.brands ul {
  list-style: none;
}

.brands a {
  position: relative;
}

.brands a:hover::after {
  position: absolute;
  bottom: 0;
  left: 0;
}

.brands-dji:hover::after {
  content: url("../img/logo-1-color.png");
}

.brands-spgadget:hover::after {
  content: url("../img/logo-2-color.png");
}

.brands-gopro:hover::after {
  content: url("../img/logo-3-color.png");
}

.brands-vive:hover::after {
  content: url("../img/logo-4-color.png");
}

.about h2,
.contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  letter-spacing: 0.01em;
  color: #000000;
}

.about p,
.contacts p {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.about ul {
  list-style: none;
}

.about li {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

/*CÃ‘â€šÃÂ¸ÃÂ»ÃÂ¸ ÃÂºÃÂ°Ã‘â€šÃÂ°ÃÂ»ÃÂ¾ÃÂ³ÃÂ°*/

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs li {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filter {
  background-color: #eeeeee;
}

.filter h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.08);
}

.filter fieldset {
  border: none;
}

.filter ul {
  list-style: none;
}

.filter legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.1em;
}

.filter label {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #000000;
}

.filter-checkbox:disabled + label,
 .filter-radio:disabled + label {
  color: #a6a6a6;
}


.sorting {
  background-color: rgba(0, 0, 0, 0.08);
}

.sorting ul {
  list-style: none;
}

.sorting h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.sorting a,
.sorting label {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.sorting .sort-by {
  color: rgba(0, 0, 0, 0.3);
}

.sorting .sort-icon {
  color: rgba(0, 0, 0, 0.2);
}

.sorting .sort-by:hover,
.sorting .sort-by:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting .sort-icon:hover,
.sorting .sort-icon:focus {
  color: rgba(0, 0, 0, 0.4);
}

.sorting a:active,
.sorting .sort-by-current,
.sort-by-down:checked ~ .sorting .sort-down-icon,
.sort-by-up:checked ~ .sorting .sort-up-icon {
  color: rgba(0, 0, 0, 1);
}

.sort-by-down:checked ~ .catalog-list {
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

.catalog .catalog-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  list-style: none;
}

.catalog-item a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #000000;
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #464646;
}

.catalog-item-image {
  position: relative;
}

.catalog-item-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  background-color: rgba(238, 238, 238, 0.70);
}

.catalog-item-image:hover .catalog-item-menu {
  display: block;
  cursor: pointer;
}

.pagination {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

.pagination .pagination-item {
  color: rgba(0, 0, 0, 0.3);
}

.pagination .pagination-item:hover,
.pagination .pagination-item:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination .pagination-item:active {
  color: rgba(0, 0, 0, 1);
}

.pagination .pagination-btn:hover,
.pagination .pagination-btn:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination .pagination-btn:active {
  color: rgba(0, 0, 0, 0.3);
}
/*CÃ‘â€šÃÂ¸ÃÂ»ÃÂ¸ ÃÂºÃÂ°Ã‘â€šÃÂ°ÃÂ»ÃÂ¾ÃÂ³ÃÂ° ÃÂ·ÃÂ°ÃÂºÃÂ¾ÃÂ½Ã‘â€¡ÃÂ¸ÃÂ»ÃÂ¸Ã‘ÂÃ‘Å’*/

.main-footer {
  background-color: #464646;
}

.main-footer ul {
  list-style: none;
}

.main-footer-logo {
  position: relative;

  display: block;
}

.main-footer-logo::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content:"";
}

.main-footer-logo:hover img,
.main-footer-logo:focus img {
    opacity: 0.6;
}

.main-footer-logo:active img {
    opacity: 0.3;
}


.footer-user-menu a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-menu a:hover,
.footer-user-menu a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-user-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer address,
.footer-phone-numer {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

.footer-phone-numer:hover,
.footer-phone-numer:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-phone-numer:active {
  color: rgba(255, 255, 255, 0.3);
}


.conditions-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.conditions-list a:hover,
.conditions-list a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.conditions-list a:active {
  color: rgba(255, 255, 255, 0.3);
}

.social-list a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.3);
}

.social-list a:hover,
.social-list a:focus {
  color: rgba(255, 255, 255, 1);
}

.social-list a:active {
  color: rgba(255, 255, 255, 0.1)
}

.main-footer .copyright {
  opacity: 1;
  color: rgba(255, 255, 255, 1);
}

.main-footer .copyright:hover,
.main-footer .copyright:focus {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer .copyright:active {
  color: rgba(255, 255, 255, 0.3);
}

.feedback-form label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.feedback-form input,
.feedback-form textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);

  background-color: rgba(230, 230, 230, 0.5);
  border: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  color: rgba(70, 70, 70, 1);

  background-color: #ffffff;
  border: 3px solid rgba(240, 197, 46,0.5);
  outline: none;
  box-shadow:
		0 0 0 3px #ffffff,
		0 0 0 6px #2f7cc0;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid {
  color: rgba(70, 70, 70, 0.4);

  background-color: rgba(237, 181, 181, 0.5);
}

.modal-map img {
  box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}
