@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy Light"),
    local("Gilroy-Light"),
    url(../fonts/gilroylight.woff2) format("woff2"),
    url(../fonts/gilroylight.woff) format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy ExtraBold"),
    local("Gilroy-ExtraBold"),
    url(../fonts/gilroyextrabold.woff2) format("woff2"),
    url(../fonts/gilroyextrabold.woff) format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans Light"),
    local("OpenSans-Light"),
    url(../fonts/opensanslight.woff2) format("woff2"),
    url(../fonts/opensanslight.woff) format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans"),
    local("OpenSans"),
    url(../fonts/opensans.woff2) format("woff2"),
    url(../fonts/opensans.woff) format("woff");
    font-weight: 400;
    font-style: normal;

}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
 position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
  display: inline-block;
  padding: 10px 45px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;

  background-color: #f0c52e;
  background-image: linear-gradient(#ffffff 39%, #f0c52e 39%, #f0c52e 60%, #ffffff 60%);
  border: none;
}


.btn:hover,
.btn:focus {
  background-image: none;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  outline: 1px solid red;
}

.container-small {
  width: 1100px;
  margin-left: 60px;
}

.main-header {
   margin-top: 40px;
}

.inner-page .main-header {
  margin-bottom: 34px;
}

.main-navigation {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 267px;
  padding: 0 60px;
  padding-top: 33px;

  background-color: #f7e296;
  outline: 1px solid red;
}

.inner-page .main-navigation {
  min-height: 153px;
}

.main-navigation::before {
  position: absolute;
  right: 460px;
  bottom: 69px;

  width: 100px;
  height: 7px;

  content:"";
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  top: -19px;
}


.main-header-logo::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content:"";
  outline: 1px solid red;
}

.header-logo-link:hover img,
.header-logo-link:focus img {
  opacity: 0.6;
}

.header-logo-link:active img {
  opacity: 0.3;
}

.user-navigation {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;

  list-style: none;
  outline: 1px solid red;
}

.user-navigation li:first-child {
  width:50%;
  margin-right: 20px;
}

.user-navigation a,
.user-navigation p,
.search-form input,
.search-form button {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus {
  opacity: 0.6;
}

.user-navigation a:active {
  opacity: 0.3;
}

.search-form {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 440px;
  height: 50px;
}

.search-form::before {
  position: absolute;
  left: 3px;
  top: 18px;

  content: url("../img/search.svg");
}

.search-form input {
  flex-grow: 1;
  padding-left: 40px;

  background-color: #f7e296;
  border: none;
  opacity: 0.3;
}

.search-form input:hover {
  opacity: 0.6;
}

.search-form input:active,
.search-form input:focus {
  border-bottom: 2px solid #000000;
  opacity: 1;
  outline: none;
}

.search-form button {
  display: none;
  padding: 0 20px;

  background-color: #f7e296;
  border: 2px solid #000000;
}

.search-form input:focus + button {
  display: block;
}

.search-form button:hover {
  display: block;

  color: #ffffff;

  background-color: #000000;
}

.search-form button:active {
  color: rgba(255, 255, 255, 0.3);
}

.login-block {
  position: relative;

  display: flex;
  width: 240px;
  min-height: 50px;
  margin-right: 40px;

  outline: 1px solid blue;
}

.login-block::before {
  position: absolute;
  top: 17px;
  left: 0px;

  content: url("../img/user.svg");
}

.login-block .login-link {
  display: flex;
  align-items: center;
  padding: 0 26px;

  outline: 1px solid green;
}

.login-block .user-name {
  align-self: center;
  margin: 0;
  padding-left: 27px;
}

.login-block .logout-link {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0 17px;
  opacity: 0.3;

  outline: 1px solid red;
}

.compare-block {
  position: relative;

  display: flex;
  width: 100px;
  min-height: 50px;

  outline: 1px solid red;
}

.compare-block::before {
  position: absolute;
  top: 17px;
  left: 7px;

  content: url("../img/compare.svg");
}

.compare-block a {
  display: flex;
  align-items: center;

  padding-right: 4px;
  padding-left: 27px;

  outline: 1px solid green;
}

.basket-block {
  position: relative;

  display: flex;
  width: 100px;
  min-height: 50px;
  margin-left: auto;
  outline: 1px solid red;
}

.basket-block::before {
  position: absolute;
  top: 17px;
  left: 17px;

  content: url("../img/cart.svg")
}

.basket-block a {
  display: flex;
  align-items: center;
  padding-left: 40px;

  outline: 1px solid green;
}

.main-menu {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-menu > li {
  outline: 1px solid red;
}

.main-menu a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

.catalog-block a {
   position: relative;
}

.catalog-block > a::after {
  position: absolute;
  right: -26px;
  top: 3px;

  content: url("../img/plus.svg")
}

.main-menu .catalog-block {
  width: 50%;
  margin-right: 20px;
}

.main-menu > li:nth-child(2) {
   width: 140px;
   margin-right: 20px;
}

.main-menu > li:nth-child(3) {
  width: 140px;
}

.main-menu > li:last-child {
  width: 120px;
  margin-left: auto;
}

.main-menu a:hover,
.main-menu a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-block:hover .sub-menu {
  display: flex;
}

.catalog-block:focus-within .sub-menu {
  display: flex;
}

.catalog-block.focus-within .sub-menu {
  display:flex;
}

.sub-menu {
  position: relative;
  z-index: 1;

  display: none;
  margin-top: 23px;
  width: 1040px;
  min-height: 143px;

  background-color: #f7e296;
  outline: 1px solid red;
}

.sub-menu ul {
  width: 200px;
  margin: 0;
  margin-right: 40px;
  padding: 0;

  outline: 1px solid red;
  list-style: none;
}

.sub-menu ul:not(:first-child) {
  width: 160px;
}

.sub-menu ul:last-child {
  margin-right: 0;
}

.sub-menu a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-transform: none;
}

.promo-wrapper {
  position: relative;
  height: 405px;

  margin-bottom: 75px;

  outline: 1px solid blue;
}

.promo {
  position: absolute;
  bottom: 55px;

  margin-bottom: -55px;
  padding: 0 60px;
  padding-left: 30px;
  padding-top: 0px;

  outline: 1px solid  red;
}

.promo-controls {
  position: absolute;
  z-index: 1;

  display: flex;
  right: 98px;
  bottom: 171px;

  margin: 0;

  list-style: none;
}

.promo-controls li:not(:last-child) {
  margin-right: 7px;
}

.promo-controls label {

    display: block;
    width: 25px;
    height: 25px;
    position: relative;

    border-radius: 50%;
}

.promo-controls label::before {
  position: absolute;
  top: 6px;
  left: 7px;

  padding: 5px;

  border: 1px solid black;
  border-radius: 50%;
  content: "";
}

.promo-1:checked ~ .promo-controls label[for="promo-btn-1"]::after,
.promo-2:checked ~ .promo-controls label[for="promo-btn-2"]::after,
.promo-3:checked ~ .promo-controls label[for="promo-btn-3"]::after {
  position: absolute;
  left: 10px;
  top: 9px;

  padding: 2px;

  border: 1px solid black;
  border-radius: 50%;
  content: "";
}

.promo-1:checked ~ .promo-list li:first-child,
.promo-2:checked ~ .promo-list li:nth-of-type(2),
.promo-3:checked  ~ .promo-list li:last-child {
  display: flex;
}

.promo-list {
  margin: 0;
  padding: 0;
}

.promo-item {
  display: none;
}

.item-offer {
  position: relative;

  padding-top: 50px;
  padding-right: 5px;
  padding-left: 44px;

  outline: 1px solid red;
}

.promo-item h3 {
  position: relative;
  z-index: 1;

  margin-left: 0;
  margin-bottom: 21px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  letter-spacing: 0.01em;
  color: #000000;

  outline: 1px solid red;
}

.promo-item .item-number {
  position: absolute;
  top: -175px;
  right: -15px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179.2px;
  line-height: 179.2px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.promo-item .item-description {
  margin-bottom: 43px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}

.promo-item .btn {
  margin-bottom: 52px;
}

.promo-item td {
  padding-right: 72px;
  padding-bottom: 7px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: 0.01em;
  color: #000000;
}

.promo-item td:first-child {
  padding-left: 0px;
}

.promo-item td:last-child {
  padding-right: 0;
}

.promo-item th {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #464646;
}

.promo-item .item-image {
  order: -1;
  width: 50%;
}

  .catigories {
    margin-bottom: 188px;
  }

.catigories ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  outline: 1px solid red;
}

.catigories li {
  margin-right: 20px;

  outline: 1px solid green;
}

.catigories li:last-child {
  margin-right: 0;
}

.catigories figure {
  margin: 0;
}

.catigories figcaption {
  width: 160px;
}


.categories-item .item-background {
  background-color: rgba(240, 197, 46, 0.5);
  margin-bottom: 30px;
}

.categories-item-link:hover .item-background,
.categories-item-link:focus .item-background  {
  background-color: rgba(240, 197, 46, 1);
}

/*Fix problem in IE with <a> and :active https://habrahabr.ru/post/138864/*/
.categories-item-link {
  position: relative;

  display: block;
}

.categories-item-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content:"";
}
/**/

.categories-item-link:active img,
.categories-item-link:active figcaption {
  opacity: 0.3;
}

.categories-item figcaption {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #000000;
}

.services {
  margin-bottom: 94px;

  background-color: #e5e5e5;
}

.services .container {
  position: relative;
   min-height: 288px;
}

.services-wrapper {
  position: absolute;
  top: -30px;
  display: flex;
}

.services-controls {
  position: relative;

  width: 280px;
  margin: 0;
  margin-top: 11px;
  margin-right: 125px;
  padding: 0;

  list-style: none;
  outline: 1px solid green;
}

.services-controls::after {
  position: absolute;
  top: -80px;
  right: -5px;

  width: 7px;
  height: 319px;

  background-color: #000000;

  content: "";
}

.services-controls label {
  width: 160px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 23px;

  text-align: center;

  background-image: linear-gradient(#e5e5e5 39%, #f0c52e 39%, #f0c52e 60%, #e5e5e5 60%);
}

.services-controls label[for="services-btn-1"] {
  background-image: linear-gradient(#ffffff 39%, #f0c52e 39%, #f0c52e 60%, #e5e5e5 60%);
}

.services-controls label:hover {
    background-color: #f0c52e;
    background-image: none;
}

.services-1:checked ~ .services-controls label[for="services-btn-1"],
.services-2:checked ~ .services-controls label[for="services-btn-2"],
.services-3:checked ~ .services-controls label[for="services-btn-3"] {
  padding-right: 120px;

  color: #f7e184;

  background-color: #000000;
  background-image: none;
}

.services-list {
  position: relative;

  width: 460px;
  margin: 0;
  padding: 0;

  outline: 1px solid green;
}


.services-list h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  letter-spacing: 0.01em;
  color: #000000;
}

.services-list p {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}

.services-list li {
  display: none;
}

.services-list li:first-child::after {
  position: absolute;
  top: 14px;
  right: -234px;

  content: url("../img/delivery.svg");
}

.services-list li:nth-child(2)::after {
  position: absolute;
  top: 14px;
  right: -234px;

  content: url("../img/warranty.svg");
}

.services-list li:last-child::after {
  position: absolute;
  top: 14px;
  right: -234px;

  content: url("../img/credit.svg");
}

.services-1:checked ~ .services-list li:first-child,
.services-2:checked ~ .services-list li:nth-child(2),
.services-3:checked ~ .services-list li:last-child {
  display: block;
}

.brands {
  margin-bottom: 138px;
}

.brands ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.brands li {
  outline: 1px solid green;
}

.brands a {
  position: relative;
}

.brands a:hover::after {
  position: absolute;
  bottom: 0;
  left: 0;
}

.brands-dji:hover::after {
  content: url("../img/logo-1-color.png");
}

.brands-spgadget:hover::after {
  content: url("../img/logo-2-color.png");
}

.brands-gopro:hover::after {
  content: url("../img/logo-3-color.png");
}

.brands-vive:hover::after {
  content: url("../img/logo-4-color.png");
}



.company-description {
  display: flex;
  min-height: 530px;
  margin-bottom: 75px;
}

.about {
  position: relative;

  width: 480px;
  margin-right: 125px;

  outline: 1px solid green;
}

.contacts {
  position: relative;

  width: 560px;

  outline: 1px solid green;
}

.about::before,
.contacts::before {
  position: absolute;
  top: -49px;

  width: 80px;
  height: 7px;

  background-color: #000000;

  content: "";
}

.about h2,
.contacts h2 {
  margin: 0;
  margin-bottom: 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  letter-spacing: 0.01em;
  color: #000000;
}

.about p,
.contacts p {
  margin: 0;
  margin-bottom: 30px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.about ul {
  margin: 0;
  margin-top: 65px;
  margin-left: 35px;
  padding: 0;

  list-style: none;
}

.about li {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.contacts .map-preview {
  margin-top: 40px;
  margin-bottom: 4px;
}

.about .btn,
.contacts .btn {
  margin: 0;
  margin-top: 55px;
  margin-left: 0px;
  width: 260px;
  padding-left: 0;
  padding-right: 0;

  text-align: center;
}

/*catalog.html*/
.page-title {
  margin: 0;
  margin-left: 60px;
  margin-bottom: 15px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  letter-spacing: 0.01em;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 42px;
  padding: 0;

  list-style: none;
  outline: 1px solid green;
}

.breadcrumbs a,
.breadcrumbs li {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.main-columns-wrapper {
  display: flex;
}

.filter {
  display: flex;
  flex-direction: column;
  width: calc(50% - 250px);

  background-color: #eeeeee;
  outline: 1px solid blue;
}

.filter .inner {
  width: 270px;
  margin-left: auto;

  outline: 1px solid red;
}

.filter-header {
    padding: 12px 0;

    background-color: rgba(0, 0, 0, 0.08);
}

.filter h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.filter ul {
  list-style: none;
}

.filter legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.1em;
}

.filter label {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #000000;
}

.filter-checkbox:disabled + label,
 .filter-radio:disabled + label {
  color: #a6a6a6;
}

.catalog {
  width: calc(50% + 250px);
  display: flex;
  flex-direction: column;
}

.catalog  .inner {
  width: 760px;
  margin-left: 70px;

  outline: 1px solid green;
}

.sorting {
  background-color: rgba(0, 0, 0, 0.08);
}

.sorting .inner {
  display: flex;
  justify-content: space-between;
  padding: 9px 0;
}

.sorting ul {
  display: flex;

  list-style: none;
}

.sorting h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.sorting a,
.sorting label {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.sorting .sort-by {
  color: rgba(0, 0, 0, 0.3);
}

.sorting .sort-icon {
  color: rgba(0, 0, 0, 0.2);
}

.sorting .sort-by:hover,
.sorting .sort-by:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting .sort-icon:hover,
.sorting .sort-icon:focus {
  color: rgba(0, 0, 0, 0.4);
}

.sorting a:active,
.sorting .sort-by-current,
.sort-by-down:checked ~ .sorting .sort-down-icon,
.sort-by-up:checked ~ .sorting .sort-up-icon {
  color: rgba(0, 0, 0, 1);
}

.sort-by-down:checked ~ .inner .catalog-list {
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

.catalog .catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  margin-top: 70px;

  outline: 1px solid red;
}

.catalog-item:nth-child(n+3) {
  margin-top: 50px;
}

.item-description {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: flex-start;

  outline: 1px solid green;
}

.catalog-item h3 {
  margin: 0;
  width: 260px;

  outline: 1px solid yellow;
}

.catalog-item a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #000000;
}

.catalog-item-price {
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #464646;
}

.catalog-item-image {
  order: -1;
  position: relative;
}

.catalog-item-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  background-color: rgba(238, 238, 238, 0.70);
}

.catalog-item-image:hover .catalog-item-menu {
  display: block;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 75px;
  padding: 0;

  list-style: none;
  background-color: rgba(0, 0, 0, 0.08);
  outline: 1px solid red;
}

.pagination li {
  padding: 26px 0;
}

.pagination a {

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

.pagination .pagination-item {
  color: rgba(0, 0, 0, 0.3);
}

.pagination .pagination-item:hover,
.pagination .pagination-item:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination .pagination-item:active {
  color: rgba(0, 0, 0, 1);
}

.pagination .pagination-btn:hover,
.pagination .pagination-btn:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination .pagination-btn:active {
  color: rgba(0, 0, 0, 0.3);
}
/*rules for index.html*/

.main-footer {
  background-color: #464646;
}

.main-footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 61px;
  padding-bottom: 70px;
}

.main-footer ul {
  list-style: none;
}

.main-footer-logo {
  margin-top: 5px;
  position: relative;

  display: block;
}

.main-footer-logo::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content:"";
}

.main-footer-logo:hover img,
.main-footer-logo:focus img {
    opacity: 0.6;
}

.main-footer-logo:active img {
    opacity: 0.3;
}

.main-footer-user {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  outline: 1px solid green;
}

.footer-user-menu {
  display: flex;
  margin: 0;
  padding: 0;

  outline: 2px solid red;
}

.footer-user-menu li:not(:last-child) {
  margin-right: 32px;
}

.footer-user-menu li {
    position: relative;
}

.footer-user-menu .login-link ::before {
  position: absolute;
  left: 9px;
  content: url("../img/user.svg");
}

.footer-user-menu .compare-link ::before {
  position: absolute;
  left: 14px;
  content: url("../img/compare.svg");
}

.footer-user-menu .basket-link ::before {
  position: absolute;
  left: 11px;
  content: url("../img/cart.svg");
}

.footer-user-menu a {
  display: flex;
  padding-left: 32px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.7);

  outline: 1px solid blue;
}

.footer-user-menu a:hover,
.footer-user-menu a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-user-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer-conditions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;

  outline: 1px solid green;
}

.main-footer address,
.footer-phone-numer {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;

  outline: 1px solid yellow;
}

.footer-phone-numer:hover,
.footer-phone-numer:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-phone-numer:active {
  color: rgba(255, 255, 255, 0.3);
}

.conditions-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  outline: red 1px solid;
}

.conditions-list li {
  display: flex;
  align-items: center;

  outline: 1px solid red;
}

.conditions-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-transform: uppercase;

  outline: 1px solid yellow;
}

.conditions-list a:hover,
.conditions-list a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.conditions-list a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer-social {
  display: flex;
  justify-content: space-between;

  outline: 1px solid green;
}

.social-list {
  display: flex;
  margin: 0;
  margin-left: 500px;
  padding: 0;

  outline: 1px solid red;
}

.social-list a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.3);

  outline: 1px solid yellow;
}

.social-list a:hover,
.social-list a:focus {
  color: rgba(255, 255, 255, 1);
}

.social-list a:active {
  color: rgba(255, 255, 255, 0.1)
}

.main-footer .copyright {
  opacity: 1;
  color: rgba(255, 255, 255, 1);
}

.main-footer .copyright:hover,
.main-footer .copyright:focus {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer .copyright:active {
  color: rgba(255, 255, 255, 0.3);
}

.feedback-form label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.feedback-form input,
.feedback-form textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);

  background-color: rgba(230, 230, 230, 0.5);
  border: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  color: rgba(70, 70, 70, 1);

  background-color: #ffffff;
  border: 3px solid rgba(240, 197, 46,0.5);
  outline: none;
  box-shadow:
		0 0 0 3px #ffffff,
		0 0 0 6px #2f7cc0;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid {
  color: rgba(70, 70, 70, 0.4);

  background-color: rgba(237, 181, 181, 0.5);
}

.modal-map img {
  box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}
